    <!-- Footer Section  -->
    <footer class="footer-main">
        <div class="footer-contact-media-link">
            <div class="footer-contact-us">
                <h1>Contact Us</h1>
                <p>
                    SARASWATI SHISHU MANDIR, JOGIYACOL, BHITI RAWAT, SAHJANWA
                </p>
                <p>Phone: +91-9696238943</p>
                <p>Email: sps.shiva.sps@gmail.com</p>
            </div>
            <div class="footer-media">
                <h1>Media</h1>
                <li style="list-style: none;"><a href="galery.html" style="text-decoration: none; color: white;">Photo
                        Gallery</a></li>
                <li style="list-style: none;"><a href="galery.html" style="text-decoration: none; color: white;">Video
                        Gallery</a></li>
                <div>Media Coverage</div>
            </div>
            <div class="footer-social-media-links">
                <h1>Our Social Media Links</h1>
                <div class="footer-social-media-icon">

                    <a href="#facebook" target="_blank">
                        <i class="fa fa-2x fa-facebook" style="color: black;"></i>
                    </a>
                    <a href="#instagram" target="_blank">
                        <i class="fa fa-2x fa-instagram" style="color: black;"></i>
                    </a>
                    <a href="#twitter" target="_blank">
                        <i class="fa fa-2x fa-twitter" style="color: black;"></i>
                    </a>
                    <a href="#youtube" target="_blank">
                        <i class="fa fa-2x  fa-youtube" style="color: black;"></i>
                    </a>
                </div>

            </div>
            <div class="footer-visit-us">
                <h1>VISIT US</h1>
            </div>

        </div>
        
        <div class="footer-google-map0">
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3563.4384920173275!2d83.16922601434247!3d26.730379783206438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3991395399d494b5%3A0x55d59049ed0d608b!2sSarswati%20Shishu%20Mandir!5e0!3m2!1sen!2sin!4v1648747507248!5m2!1sen!2sin"
            width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="footer-copyright-text">
            <p class="copyright-center"> &COPY; SARASWATI SHISHU MANDIR, JOGIYACOL - all right reserved <br>Designed with &hearts;   by - SHIVANAND SINGH</br></p>
            </p>

        </div>
    </footer>