 <!-- Header Section -->
    <div class="header">
        <div class="header-l">
            <img src="image/logo.png" alt="logo">
            <p>Saraswati Shishu Mandir <span>Bhiti Rawat, Sahjanwa, Gorakhpur</span> </p>
        </div>
        <div class="header-r">
            <p>Email : saraswatishishu@gmail.com <span>Contact : +8588888888</span></p>
        </div>
    </div>

    <!-- Navbar Section -->
    <nav class="navbar" id = "sidenav" >
        <div class="navbar_main">
            <ul class="nav-list v-class" >
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/admission">Admission</a></li>
                <li><a href="/examination">Examination</a></li>
                <li><a href="/academic">Academics</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/#News & Events">News & Events</a></li>
                <li><a href="/#Achievements">Achievements</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </div>
    </nav>
  
    <!-- School Name Marquee -->
    <strong class="school-name">
        <marquee behavior="" direction="" scrollamount = "25"><div class="animated-school-name">Saraswati Shishu Mandir</div></marquee>
        
    </strong>
    <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>